{% extends 'base.html.twig' %}

{% block title %}Avisequipement{% endblock %}

{% block body %}
    <h1>Avisequipement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idaeq</th>
                <td>{{ avisequipement.idaeq }}</td>
            </tr>
            <tr>
                <th>Commaeq</th>
                <td>{{ avisequipement.commaeq }}</td>
            </tr>
            <tr>
                <th>Like</th>
                <td>{{ avisequipement.like ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Dislike</th>
                <td>{{ avisequipement.dislike ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_avisequipement_index') }}">back to list</a>

    <a href="{{ path('app_avisequipement_edit', {'idaeq': avisequipement.idaeq}) }}">edit</a>

    {{ include('avisequipement/_delete_form.html.twig') }}
{% endblock %}
