
{% extends 'evenement/evenementback.html.twig' %}

{% block title %}Liste des événements{% endblock %}





{% block louay %}
  
    <h1>Participation </h1>

    <table class="table">
        <thead>
            <tr>
                <th>NomP</th>
                <th>PrenomP</th>
                <th>Email</th>
                <th>Age</th>
                <th>l'événement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        <form action="{{ path('app_participation_search') }}" method="GET">
        <input type="text" name="search" placeholder="Rechercher...">
        <button type="submit">Rechercher</button>
    </form>
        {% for participation in participations %}
            <tr>
                <td>{{ participation.nomP }}</td>
                <td>{{ participation.prenomP }}</td>
                <td>{{ participation.email }}</td>
                <td>{{ participation.age }}</td>
                <td>{{ participation.idfEvent.nomEve }}</td>
                <td>
                    <a href="{{ path('app_participation_show', {'idP': participation.idP}) }}">show</a>
                    <a href="{{ path('app_participation_edit', {'idP': participation.idP}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     
    

    <a href="{{ path('app_participation_new') }}">Create new</a>

    {% if statistics is defined %}
        <h1>Statistics</h1>
        <canvas id="participationChart" width="400" height="200"></canvas>
    {% endif %}

{% endblock %}

