{% extends 'evenement/evenement.html.twig' %}

{% block title %}New Participation{% endblock %}

{% block boxes %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card" style="background-color: #fafaea;">
                    <div class="card-header bg-primary text-white">
                        <h3 class="text-center mb-0">Create New Participation</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        <div class="form-group">
                            {{ form_widget(form) }}
                        </div>


                        <button type="submit" class="btn btn-primary btn-block">Save</button>
                        {{ form_end(form) }}
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ path('app_participation_index') }}" class="btn btn-secondary">Back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}




{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('Front/styles/bootstrap-4.1.2/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Front/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Front/styles/main_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Front/styles/responsive.css') }}">
    <style>
        .card {
            margin-top: 20px;
        }
    </style>


{% endblock %}

