{% extends 'base.html.twig' %}

{% block title %}Tous les événements{% endblock %}

{% block content %}
    <h1>Tous les événements</h1>
    
    <div class="row">
        {% for evenement in evenements %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ asset('uploads/images/evenements/' ~ evenement.imageEve) }}" class="card-img-top" alt="Image de l'événement">
                    <div class="card-body">
                        <h5 class="card-title">{{ evenement.nomEve }}</h5>
                        <p class="card-text">Date de début : {{ evenement.dateDeve|date('d/m/Y') }}</p>
                        <p class="card-text">Date de fin : {{ evenement.dateFeve|date('d/m/Y') }}</p>
                        <p class="card-text">Adresse : {{ evenement.adresseEve }}</p>
                        <a href="{{ path('app_evenement_show', {'idEve': evenement.idEve}) }}" class="btn btn-primary">Voir détails</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}