{% extends 'evenement/evenement.html.twig' %}





{% block title %}New Evenement{% endblock %}

{% block boxes %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10"> <!-- Modification de la classe de la colonne -->
                <div class="card" style="background-color: #fafaea;">
                    <div class="card-header bg-primary text-white">
                        <h3 class="text-center mb-0">Create New Evenement</h3>
                    </div>
                    <div class="card-body" style="padding: 30px;"> <!-- Ajustement de la marge interne -->
                        {{ form_start(form, {'attr': {'id': 'evenementForm', 'novalidate': 'novalidate'}}) }}
                        <div id="errorContainer"></div>
                        <div class="form-group">
                            {{ form_row(form.nomEve, {'attr': {'class': 'form-control', 'placeholder': 'Event Name'}}) }}
                        </div>
                        <div class="form-row">
                            <div class="col">
                                {{ form_row(form.dateDeve, {'attr': {'class': 'form-control', 'placeholder': 'Start Date'}}) }}
                            </div>
                            <div class="col">
                                {{ form_row(form.dateFeve, {'attr': {'class': 'form-control', 'placeholder': 'End Date'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_row(form.nbrMax, {'attr': {'class': 'form-control', 'placeholder': 'Maximum Number'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.adresseEve, {'attr': {'class': 'form-control', 'placeholder': 'Event Address'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.imageEve, {'attr': {'class': 'form-control-file'}}) }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Save</button>
                        {{ form_end(form) }}
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ path('app_evenement_index') }}" class="btn btn-secondary">Back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



 



{% block javascripts %}



<script src="{{asset('Front/js/jquery-3.2.1.min.js')}}"></script>
<script src="{{asset('Front/styles/bootstrap-4.1.2/popper.js')}}"></script>
<script src="{{asset('Front/styles/bootstrap-4.1.2/bootstrap.min.js')}}"></script>
<script src="{{asset('Front/plugins/greensock/TweenMax.min.js')}}"></script>
<script src="{{asset('Front/plugins/greensock/TimelineMax.min.js')}}"></script>
<script src="{{asset('Front/plugins/scrollmagic/ScrollMagic.min.js')}}"></script>
<script src="{{asset('Front/plugins/greensock/animation.gsap.min.js')}}"></script>
<script src="{{asset('Front/plugins/greensock/ScrollToPlugin.min.js')}}"></script>
<script src="{{asset('Front/plugins/OwlCarousel2-2.2.1/owl.carousel.js')}}"></script>
<script src="{{asset('Front/plugins/easing/easing.js')}}"></script>
<script src="{{asset('Front/plugins/progressbar/progressbar.min.js')}}"></script>
<script src="{{asset('Front/plugins/parallax-js-master/parallax.min.js')}}"></script>
<script src="{{asset('Front/plugins/colorbox/jquery.colorbox-min.js')}}"></script>
<script src="{{asset('Front/js/custom.js')}}"></script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.getElementById('evenementForm');

        form.addEventListener('submit', function(event) {
            var nomEve = document.getElementById('evenement_nomEve');

            if (!nomEve.value) {
                errors.push("Le nom de l'événement est requis.");
            }

            var dateDeve = document.getElementById('evenement_dateDeve');
                if (!dateDeve.value) {
                errors.push("La date de début est requise.");
            }

            var dateFeve = document.getElementById('evenement_dateFeve');
            var nbrMax = document.getElementById('evenement_nbrMax');
            //var adresseEve = document.getElementById('evenement_adresseEve');
            var errors = [];

            

           

            // Ajoutez d'autres validations selon vos besoins...

            if (errors.length > 0) {
                event.preventDefault(); // Empêcher la soumission du formulaire

                var errorContainer = document.getElementById('errorContainer');
                errorContainer.innerHTML = '';

                errors.forEach(function(error) {
                    var p = document.createElement('p');
                    p.textContent = error;
                    errorContainer.appendChild(p);
                });
            }
        });
    });
</script>

{% endblock %}
