{% extends 'evenement/evenementback.html.twig' %}

{% block louay %}
    <h1>Liste des événements</h1>

    <div class="d-flex">
        <a href="{{ path('app_evenement_archive') }}" class="btn btn-sm ml-3 btn-success">Archives des événements</a>
    </div>

    <form action="{{ path('app_evenement_search') }}" method="GET" class="my-3">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Rechercher...">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>ImageEve</th>
            </tr>
        </thead>
        <tbody>
            {% for evenement in evenements %}
                <tr>
                    <td>{{ evenement.nomEve }}</td>
                    <td>{{ evenement.dateDeve|date('Y-m-d H:i:s') }}</td>
                    <td>{{ evenement.dateFeve|date('Y-m-d H:i:s') }}</td>
                    <td><img src="{{ asset('uploads/images/evenements/' ~ evenement.imageEve) }}" alt="Image de l'événement" style="width: 200px; height: 200px;"></td>
                    <td><a href="{{ path('app_evenement_edit', {'idEve': evenement.idEve}) }}">edit</a></td>
                    <td>{{ include('evenement/_delete_form.html.twig') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="calendar"></div>

    <script src="{{ asset('public/Front/js/calendar.js') }}"></script>
{% endblock %}