{% extends 'evenement/evenementback.html.twig' %}
{% block louay %}
    <h1>Liste des événements</h1>

    <div class="d-flex">
        <a href="{{ path('app_evenement_archive') }}" class="btn btn-sm ml-3 btn-success">Archives des événements</a>
    </div>

    <form action="{{ path('app_evenement_search') }}" method="GET" class="my-3">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Rechercher...">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </div>
    </form>


    <form action="{{ path('sort_events_all_attributes') }}" method="GET" class="my-3">
    <div class="form-group">
        <label for="sortAttribute">Trier par :</label>
        <select name="sortAttribute" id="sortAttribute" class="form-control">
            <option value="nomEve">Nom</option>
            <option value="dateDeve">Date de début</option>
            <option value="dateFeve">Date de fin</option>
            <option value="adresseEve">Adresse</option>
            <option value="nbrMax">Nombre maximal</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Trier</button>
</form>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Adresse</th>
                <th>ImageEve</th>
            </tr>
        </thead>
        <tbody>
            {% if resultatsRecherche is defined %}
                {% for evenement in resultatsRecherche %}
                    <tr>
                        <td>{{ evenement.nomEve }}</td>
                        <td>{{ evenement.dateDeve|date('Y-m-d H:i:s') }}</td>
                        <td>{{ evenement.dateFeve|date('Y-m-d H:i:s') }}</td>
                        <td>{{ evenement.adresseEve }}</td>
                        <td><img src="{{ asset('uploads/images/evenements/' ~ evenement.imageEve) }}" alt="Image de l'événement" style="width: 200px; height: 200px;"></td>
                        <td><a href="{{ path('app_evenement_edit', {'idEve': evenement.idEve}) }}">edit</a></td>
                        <td>{{ include('evenement/_delete_form.html.twig') }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for evenement in evenementss %}
                    <tr>
                        <td>{{ evenement.nomEve }}</td>
                        <td>{{ evenement.dateDeve|date('Y-m-d H:i:s') }}</td>
                        <td>{{ evenement.dateFeve|date('Y-m-d H:i:s') }}</td>
                        <td>{{ evenement.adresseEve }}</td>
                        <td><img src="{{ asset('uploads/images/evenements/' ~ evenement.imageEve) }}" alt="Image de l'événement" style="width: 150px; height: 150px;"></td>
                        <td><a href="{{ path('app_evenement_edit', {'idEve': evenement.idEve}) }}">edit</a></td>
                        <td>{{ include('evenement/_delete_form.html.twig') }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

    <div id="calendar"></div>

    <script src="{{ asset('public/Front/js/calendar.js') }}"></script>
{% endblock %}