

{% extends 'evenement/evenementback.html.twig' %}
{% block louay %}
    <h1>Liste des événements</h1>



<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.5/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@6.1.5/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/list@6.1.5/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap@6.1.5/index.global.min.js"></script>



    <table class="table">
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>ImageEve</th>
                <!-- Ajoutez d'autres en-têtes au besoin -->
            </tr>
        </thead>
        <div>
            {% for evenement in evenements %}
                <tr>
                  
                    <td>{{ evenement.nomEve }}</td>
                    <td>{{ evenement.dateDeve|date('Y-m-d H:i:s') }}</td>
                    <td>{{ evenement.dateFeve|date('Y-m-d H:i:s') }}</td>
                    
                
                <td><img src="{{ asset('uploads/images/evenements/' ~ evenement.imageEve) }}" alt="Image de l'événement" style="width: 200px; height: 200px;;"></td>
                 <td><a href="{{ path('app_evenement_edit', {'idEve': evenement.idEve}) }}">edit</a></td>
                       <td>{{ include('evenement/_delete_form.html.twig') }}</td>

                    <!-- Ajoutez d'autres colonnes au besoin -->
                </tr>
            {% endfor %}
        </tbody>
    </table>


    

<div id="calendar"></div>

<script src="{{ asset('public\Front\js\calendar.js') }}"></script>



{% endblock %}







